.card-img-top {
    margin: 5%;
    max-width: 90%;
}

#group {
    max-width: 90vw;
}

.about-us-card {
    border: solid gray 3px;
    height: inherit;
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 0.5rem;
}

.card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.card-body, .card-title, .card-text {
  background-color: inherit;
  color: #C09F80;
}

