.form {
  width: 100%;
  margin-left: 0em;
  margin-right: 0em;
}

.cardDeck {
  /* border: red 5px solid; */
  display: inline-flex;
  /* max-width: 3em; */
  max-height: 500px;
  max-width: 50%;
  padding: 2px;
}

/* .toastHeader {
  border: blue 5px solid;
} */

.toast {
  width:30%;
  flex-wrap: wrap;
  
}

.toastP {
  width: 20%;
  margin-left: 5em;
  margin-right: 0em;

}
.results {
  max-height: 60em;
  max-width: 59em;
  margin-left: 5em;
  margin-right: 5em;
}

/* .recipeButton {

} */