.form {
  width: 100%;
  margin-left: 0em;
  margin-right: 0em;
}

.formdiv{
  margin-left: 1em;
}

.formContainer{
  margin-left: 1em;
}

.cardDeck {
  max-width: 20em;
}

.results {
  width: 85vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
}

.recipeCard {
  margin-right: 5px;
  background-color: white;
}

.toast {
  width:30%;  
  flex-wrap: wrap;
}

.toastP {
  width: 20%;
  margin-left: 5em;
  margin-right: 0em;
}

.toastCol{
  margin-top: 1.9em;
}
