.form {
  width: 100%;
  margin-left: 0em;
  margin-right: 0em;
}

.formdiv{
  margin-left: 1em;
}

.container{
  margin-left: 1em;
}

.cardDeck {
  display: flex;
  flex-direction: column;
  background-color: #015249;
}

.toast {
  width:30%;
  flex-wrap: wrap;
}

.toastP {
  width: 20%;
  margin-left: 5em;
  margin-right: 0em;

}

.toastCol{
  margin-top: 1.9em;
}
