.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #565656;
}

.title, .sub-title {
  color: #015249;
  padding: 1rem;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-radius: 10px;
  box-shadow:
}
