.d-inline-block {
  background-color: #015249;
  border-radius: 50%;
}

#navbar-container {
  height: 100%;
  position: fixed;
  padding: 0;
}

.navbar {
  background-color: #C09F80;
  flex-direction: column;
  height: 100%;
  top: 0;

}

.brand-name {
  background-color: #C09F80;
  padding-left: 10px;
}

.p {
  color: #015249;
  background-color: #C09f80;
}

