.d-inline-block {
  background-color: #015249;
  border-radius: 50%;
}

.navbar-container {
  width: 10em;
  height: 100vh;
  float: left;
  position: fixed;
  margin-top: 0px;
  z-index: 100;
}

.navbar {
  background-color: #F8F9FA;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
}

.brand-name {
  background-color: #F8F9FA;
}

