.card-container {
  margin-top: 3rem;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 10rem;
}

.saved-recipes {
  font-size: 50px;
  color: #015249;
}



  
